.ulorder{
    list-style: none;
}

.modal-header{
    border-bottom: 0!important;
}

.btns{
    display: flex;
    justify-content: space-evenly;
}


/* Order.css */


.orderbox{
    height: 100px;
    border: 1px solid gray;
    border-radius: 15px;
    margin-bottom: 25px;
    
}

@media only screen and (max-width:550px){
    .orderbox {
        height: 145px;
    }
}